fastapi
fastapi-crudrouter
uvicorn[standard]
motor
pydantic
python-jose
python-dotenv
pydantic[email]
lmstudio
openai
networkx>=3.2
pypdf>=3.9
python-multipart
google-generativeai
bcrypt>=4.0.0
passlib[bcrypt]
fastapi-crudrouter-mongodb
httpx
anyio
pymongo